/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
body {
    font-family: Whitney, 'Helvetica', 'Helvetica Neue', sans-serif;
}
/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    min-height: 60px;
    background-color: orangered;
    display: flex;
    justify-content: center;
}
.container{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}
header a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.logoimage{
    width: 200px;
}
.link, .logo, .loginheader, .headerlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    width: 200px;
}
.logo{
    width: 800px;
}
.loginheader{
    width: 200px;
}
.headerlist{
    list-style: none;
}
/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.container-main{
    width: 1200px; 
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap; 
}
.heart{
    position: absolute;
    top: 25px;
    right: 0;
    padding: 5px;
    font-size: 35px;
}
.heart:hover{
    color: red;
    animation: infinite;
}
.discount{
    position: absolute;
    bottom: 40px;
    left: 0;
}
.charter-discount, .percent-discount{
    color: white;
    padding: 5px;
}
.percent-discount{
    background-color: orangered;
}
.charter-discount{
    background-color: green;
}
.march{
    color: grey;
}
.price{
    color: orangered;
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
}
.photo-description{
    position: absolute;
    top: 100%;
    left: 0;
}
.box{
    width: 390px;
    height: 570px; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 80px;
    position: relative;
}
.box1{
    background-image: url('../img/1.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.box1:hover{
    background-image: url('../img/1b.webp');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.box2{
    background-image: url('../img/2.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.box2:hover{
    background-image: url('../img/2b.webp');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.box3{
    background-image: url('../img/3.webp');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.box3:hover{
    background-image: url('../img/3b.webp');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.box4{
    background-image: url('../img/4.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.box4:hover{
    background-image: url('../img/4b.webp');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.box5{
    background-image: url('../img/5.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.box5:hover{
    background-image: url('../img/5b.webp');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.box6{
    background-image: url('../img/6.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.box6:hover{
    background-image: url('../img/6b.webp');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
/* FOOTER */
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;  
}
.footer-container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.infoagency, .social, i{
    color: white;
}
p > a{
    color: white;
    padding-right: 5px;
    text-decoration: none;
}
.footer-description{
    text-align: center;
}
.footer-title{
    margin-bottom: 5px;
}
.footer-description> a{
    padding-left: 5px;
    margin-top: 5px;
}