/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* REGOLE GENERALI */
body {
    font-family: Whitney, 'Helvetica', 'Helvetica Neue', sans-serif;
}
/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    min-height: 80px;
    background-color: orangered;
    display: flex;
    justify-content: center;
}
.container{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}
header a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.logoimage{
    width: 200px;
}
.link, .logo, .loginheader, .headerlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    width: 200px;
}
.logo{
    width: 800px;
}
.loginheader{
    width: 200px;
}
.headerlist{
    list-style: none;
}
/* MAIN */
main{
    display: flex;
    justify-content: center;
}
.container-main{
    width: 1200px;
    position: relative;
    background-color: aqua; 
    margin-top: 200px; 
}
.box{
    width: calc(1200px / 3);
    height: 800px;
    background-color:lightgray;
    border: 1px solid black;
    display: inline-block;
}